<!DOCTYPE html>
<html>
<head>
    <title>Video Recorder</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_app/video_recorder_styles.css' %}">
</head>
<body>
    <video id="webcam" autoplay playsinline width="640" height="480"></video>
    <div class="controls">
        <button id="start">Start Recording</button>
        <button id="stop" disabled>Stop Recording</button>
        <button id="upload" disabled>Upload Video</button> <!-- Upload button -->
        <button id="upload" disabled>Analyze Video</button> <!-- Upload button -->
    </div>
    <!-- Video element for playback -->
    <video id="playback" width="640" height="480" controls hidden></video>
    
    <script src="{% static 'first_app/script.js' %}"></script>
</body>
</html>
