<style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background: rgb(111, 90, 126);
        background: linear-gradient(0deg, rgba(111, 90, 126, 1) 16%, rgba(205, 102, 132, 1) 33%, rgba(255, 103, 125, 1) 53%, rgba(255, 174, 143, 1) 78%);
        font-family: Arial, sans-serif;
    }

    .button-container {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .button-container button {
        padding: 10px 20px;
        margin-right: 10px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 50px;
        background-color: transparent;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .button-container button:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    h2 {
        color: #fff;
        font-size: 36px;
        margin-bottom: 20px;
    }

    form {
        margin-top: 20px;
        color: #fff;
    }

    form label {
        display: block;
        margin-bottom: 10px;
    }

    form input[type="text"],
    form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
        font-size: 16px;
        margin-bottom: 15px;
    }

    button {
        padding: 15px 30px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 50px;
        background-color: transparent;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

</style>

<div class="button-container">
    <a href="{% url 'index' %}">
        <button>Home </button></a>
    <a href="{% url 'create' %}">
        <button>Generate Questions</button>
    </a>
</div>

<h2>Prep For Your Interviews With AI</h2>
<form method="post" action="{% url 'create' %}">
    {% csrf_token %}
    <label for="job_title">Job Title:</label>
    <input type="text" id="job_title" name="job_title" required>
    <label for="job_description">Job Description:</label>
    <textarea id="job_description" name="job_description" rows="4" required></textarea>
    <button type="submit" name="save">Generate Practice Questions</button>
</form>
